/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/********************
 * Zampone Layout   *
 *                  *
 * Date: 2026-06-11 *
 * v1.0.0           *
 *                  *
 * Derivato da Cotechino_34 v1.1.1: solo i layer essenziali
 * (default, utility, symbols, num_func, keyboard, mouse),
 * con base layer QWERTY al posto di Colemak-DH.
 * Niente macro, niente combo, niente secrets.
 ********************/

#include "./italian.keycodes"

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

// Mouse Emulation feature
#define ZMK_POINTING_DEFAULT_MOVE_VAL 700  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10   // default: 10

#include <dt-bindings/zmk/pointing.h>

/***************************
*        LAYER CODES       *
****************************/

#define DEFAULT                 0

#define UTILITY                 1

#define SYMBOLS                 2

#define NUM_FUNC                3

#define KEYBOARD                4

#define MOUSE                   5

/*******************
 * ENABLES LOGGING *
 ******************/
zephyr_udc0: &usbd {
    status = "okay";
};

// Caps Word configuration for italian
&caps_word {
    continue-list = <IT_UNDER IT_MINUS BACKSPACE>;
};

/ {

/********************************************************
*   CONDITIONAL LAYERS
*********************************************************/

    conditional_layers {
        compatible = "zmk,conditional-layers";
        numfn_layer {
            if-layers = <UTILITY SYMBOLS>;
            then-layer = <NUM_FUNC>;
        };

        mouse_layer {
            if-layers = <SYMBOLS KEYBOARD>;
            then-layer = <MOUSE>;
        };
    };

/********************************************************
*   BEHAVIORS
*********************************************************/

    behaviors {

        // Behaviors for mods in the bottom row

        lm: left_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <145>;    // last value: 150
            quick-tap-ms = <80>;        // 125
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 25 26 27 28 29>;    // <---[[right-hand keys]]
        };

        rm: right_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <145>;    // last value: 150
            quick-tap-ms = <80>;        // 125
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24>;    // <---[[left-hand keys]]
       };

    // Layer on left thumb is for quick access to symbols used while typing so I need a shorter window for triggering
    // the hold behavior. This is possible as RETURN is not used in the middle of something. Balanced behavior is perfect here
        qlt: quick_layer_toggle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <125>;
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&mo>, <&kp>;
       };

       // Tap-Dances for accented letters

        td_e: tap_dance_e {
           compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp IT_EGRV>, <&kp IT_EACU>;
        };

        td_par: tap_dance_parentheses {
           compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&kp IT_LPAR>, <&kp IT_RPAR>;
        };

        td_bkt: tap_dance_brackets {
           compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&kp IT_LBKT>, <&kp IT_RBKT>;
        };

        td_brc: tap_dance_braces {
           compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&kp IT_LBRC>, <&kp IT_RBRC>;
        };

        td_ang: tap_dance_angulars_simplifed {
           compatible = "zmk,behavior-tap-dance";
           #binding-cells = <0>;
           tapping-term-ms = <200>;
           bindings = <&kp IT_LESS>, <&kp IT_GREAT>;
        };

        td_currencies: tap_dance_currencies {
           compatible = "zmk,behavior-tap-dance";
           #binding-cells = <0>;
           tapping-term-ms = <200>;
           bindings = <&kp IT_USD>, <&kp IT_EUR>, <&kp IT_PND>, <&kp IT_YEN>;
        };

    };


/********************************************************
*                       KEYMAP                          *
*********************************************************/
        keymap {
                compatible = "zmk,keymap";

/*********************************************
*         DEFAULT layer with QWERTY          *
**********************************************/
// 0
       		default_layer {
		bindings = <
		&kp Q               &kp W               &kp E               &kp R               &kp T           &kp Y               &kp U               &kp I               &kp O               &kp P
		&kp A               &kp S               &kp D               &kp F               &kp G           &kp H               &kp J               &kp K               &kp L               &kp BSPC
		&lm LSHIFT Z        &lm LCTRL X         &lm LALT C          &lm LGUI V          &kp B           &kp M               &rm LGUI N          &rm LALT COMMA      &rm LCTRL DOT       &rm LSHIFT IT_MINUS
                                                &qlt SYMBOLS RET    &mo KEYBOARD                        &kp BACKSPACE       &lt UTILITY SPACE
		>;
		};

/*********************************************
*               UTILITY LAYER                *
*********************************************/
// 1
		    utility_layer {
		bindings = <
		&kp ESC             &kp PRINTSCREEN     &kp CAPS            &caps_word          &none           &kp PAGE_UP         &kp HOME            &kp END             &kp LC(SPACE)       &kp DEL
		&kp TAB             &sk LALT            &sk LCTRL           &sk LSHIFT          &sk LGUI        &kp LA(TAB)         &kp LEFT            &kp UP              &kp DOWN            &kp RIGHT
		&kp LC(Z)           &kp LC(X)           &kp LC(C)           &kp LC(V)           &kp LC(LS(Z))   &kp PAGE_DOWN       &kp LC(LS(TAB))     &kp LC(LA(LEFT))    &kp LC(LA(RIGHT))   &kp LC(TAB)
                                                &trans              &kp LS(RET)                         &none               &none
		>;
		};

/*********************************************
*                   SYMBOLS                  *
*********************************************/
// 2
           symbols_layer {
		bindings = <
		&kp IT_EXCL         &kp IT_DQUOT        &kp IT_AGRV         &kp IT_UGRV         &kp IT_CARET    &kp IT_BSLH         &kp IT_AT           &kp IT_HASH         &kp IT_QUES         &kp LC(DEL)
		&td_ang             &kp IT_IGRV         &kp IT_OGRV         &td_e               &kp IT_DEGREE   &td_currencies      &kp IT_EQL          &kp IT_FSLH         &kp IT_MINUS        &kp IT_UNDER
		&kp IT_PERC         &td_brc             &td_bkt             &td_par             &kp IT_TILDE    &kp IT_BKTK         &kp IT_AND          &kp IT_PIPE         &kp IT_AST          &kp IT_PLUS
                                                &none               &trans                              &kp LC(BACKSPACE)   &trans
		>;
		};

/*********************************************
*              NUMBERS/FUNCTIONS             *
*********************************************/
// 3 <- 1+2
		    numbers_functions_layer {
		bindings = <
		&kp DOT             &kp N7              &kp N8              &kp N9              &kp KP_PLUS          &kp F10             &kp F7              &kp F8              &kp F9              &kp BSPC
        &kp N0              &kp N1              &kp N2              &kp N3              &kp KP_MINUS         &kp F13             &kp F4              &kp F5              &kp F6              &kp F11
        &kp KP_ASTERISK     &kp N4              &kp N5              &kp N6              &kp KP_SLASH         &kp F14             &kp F1              &kp F2              &kp F3              &kp F12
                                                &none               &trans                                   &trans              &none
		>;
		};

/*********************************************
*                  KEYBOARD                  *
*********************************************/
// 4
            keyboard_layer {
        bindings = <
        &bt BT_SEL 3        &bt BT_SEL 2        &bt BT_SEL 1        &bt BT_SEL 0        &out OUT_BLE    &kp KP_DIVIDE         &kp KP_N7           &kp KP_N8           &kp KP_N9           &kp BSPC
        &bt BT_SEL 4        &kp K_PREV          &kp K_PLAY_PAUSE    &kp K_NEXT          &out OUT_USB    &kp KP_MULTIPLY       &kp KP_N1           &kp KP_N2           &kp KP_N3           &kp KP_N0
        &bt BT_SEL 5        &bt BT_SEL 6        &none               &none               &bt BT_CLR      &kp KP_DOT            &kp KP_N4           &kp KP_N5           &kp KP_N6           &kp KP_COMMA
                                                &trans              &none                               &none               &trans
        >;
        };

/******************************************
*                 MOUSE                  *
*****************************************/
// 5
            mouse_layer {
		bindings = <
		&kp INSERT          &none               &kp KP_NUMLOCK      &none               &none                   &none               &mkp LCLK           &mkp RCLK           &mkp MCLK           &none
		&none               &none               &none               &none               &none                   &none               &mmv MOVE_LEFT      &mmv MOVE_UP        &mmv MOVE_DOWN      &mmv MOVE_RIGHT
		&none               &none               &none               &none               &none                   &none               &msc SCRL_LEFT      &msc SCRL_UP        &msc SCRL_DOWN      &msc SCRL_RIGHT
                                                        &trans              &trans                              &none               &trans
		>;
		};

    };

};
